md-dialog.largeDialog
   md-toolbar
      div.md-toolbar-tools
         h2 Afegeix un contacte
         span(flex)
         md-button.md-icon-button(ng-click="cancel()")
            md-icon.material-icons close
   md-dialog-content
      form(ng-submit="$event.preventDefault()", flex)
            md-autocomplete.whiteBackground.noShadow(
            md-selected-item-change="null",
            md-selected-item="myAddAgenda",
            md-search-text-change="null",
            md-search-text="searchText",
            md-items="contact in nonAgendaContactsNames | filter: searchText",
            md-item-text="contact",
            md-min-length="0",
            md-autoselect="false",
            md-autofocus="false",
            placeholder="Cerca per nom i cognom", flex)
               md-item-template
                  span(md-highlight-text="searchText", md-highlight-flags="^i")
                     | {{contact}}
               md-not-found Cap resultat per {{searchText}}

      div(flex, layout="row", layout-align="center center", style="color: white; margin-top: 20px;")
         | {{myAddAgenda || 'No has seleccionat cap contacte'}}

      div.md-actions(layout="row", layout-align="center center")
         span(flex)
         md-button.md-primary(ng-click="answer()") Afegeix